<h1>Customer - Alphabetized</h1>

<div class="customers">
    <%= render partial: 'customer', collection: @ordered_customers %>
</div>

<div class="links">
  <%= link_to 'Home', root_path %>
</div>
