<h1>Customers with no email</h1>

<div class="customers">
    <%= render partial: 'customer', collection: @customers_no_email %>
</div>

<div class="links">
  <%= link_to 'Home', root_path %>
</div>
