// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
  height: 220px;
  width: 220px;
}

.customer {
     float: left;
     width: 250px;
     border: 1px solid #CCC;
     border-radius: 5px;
     width: 240px;
     height: 420px;
     padding-left: 20px;
     margin-left: 20px;
}

.links {
  clear: left;
  margin: 20px;
}
